<link rel="stylesheet" href="/css/employeeupdate.css"></link>

<div class="employee-update-container">
        <div class="employee_details_container">
                <h3>EMPLOYEE DETAILS</h3>
                <p>NAME:</p>
                <div id="employee_name">
                    <%= user.name %>    
                </div>
                <p>EMAIL:</p>
                <div id="employee_email">
                    <%= user.email %>
                </div>
                <p>PASSWORD:</p>
                <div id="employee_password">
                    <%= user.password %>                
                </div>
        </div>
        
        <div class="users_update_form_container">
                <h3>UPDATE EMPLOYEE DETAILS</h3>
                <form action="/admins/update/<%= user.id %>" method="post" id="employee_update_form" >
                        <input type="text" placeholder="Enter the Name" name="name" id="user_name" required>
                        <br>
                        <input type="email" placeholder="Enter the Email" name="email" id="user_email"  required>
                        <br>
                        <input type="password" placeholder="confirm password" name="password" id="user_password" required >
                        <br>
                        <input type="hidden" name="type" value="<%= user.type%>" required >
                        <br>
                        <input type="submit" value="Update" id="submit_user_details"></input>
                </form>
        </div>
</div>